.first-section li {
    margin-bottom: 8px;
}

.first-section ul {
    background-color: #F7F9FC;
    margin-top: 25px;
    padding-top: 30px 55px;
    border-radius: 8px;
}

header {
    background-color: #F0F8FF;
    padding: 200px 0;
    background-image: url("../img/jumping_cats.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.first-section {
    background-color: white;
}

.first-section img {
    margin-bottom: 35px;
}

@media (min-width: 768px) {
    .first-section img {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .first-section img {
        margin-bottom: 0;
    }
}
h1 {
    color: #000000;
    font-size: 36px;
}

@media (min-width: 576px) {
    h1 {
        font-size: 48px;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 40px;
}

body {
  color: #4a4a4a;
}
