.first-section li {
    margin-bottom: 8px;
}

.first-section ul {
    background-color: #F7F9FC;
    margin-top: 25px;
    padding-top: 30px 55px;
    border-radius: 8px;
}

header {
    background-color: #F0F8FF;
    padding: 200px 0;
    background-image: url("https://previews.123rf.com/images/iunewind/iunewind1602/iunewind160200061/52757928-8-bit-old-computer-game-white-cave-screen-from-binary-code-cypher-black-vector-background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.first-section {
    background-color: white;
}

.section {
    padding-top: 60px;
    padding-bottom: 40px;
}

body {
  color: #4a4a4a;
}
